@import '../../../scss/variables.scss';

.nav-container {
	display: flex;
	height: 50px;
	width: 100%;
	background-color: $primary-text;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 1rem 0;
}

.nav-burger {
	margin: 0;
	font-size: 1.5rem;
	align-self: flex-end;
	padding: 0.5rem;
	color: $theme-color;
	transition: all 0.3s ease-in-out;

	&.opened {
		transform: rotate(180deg) scaleX(-1);
		// transform: scaleX(-1);
	}

	@media (min-width: 576px) {
		display: none;
	}
}

.nav-menu {
	display: flex;
	margin: 0;

	a {
		text-decoration: none;
		padding: 0.5rem;
		color: $theme-color;

		&:hover {
			color: darken($theme-color, 25%);
		}
	}

	@media (max-width: 575px) {
		display: none;
	}
}

.nav-mobile-menu {
	display: flex;
	// margin-right: 1rem;
	background-color: rgba(darken($theme-color, 25%), 1);
	position: absolute;
	top: 0;
	flex-direction: column;
	// justify-content: space-around;
	text-align: center;
	// transition: all 0.1s ease-in-out;
	opacity: 0;
	visibility: hidden;

	&.opened {
		opacity: 0.95;
		width: 100vw;
		height: 100vh;
		visibility: visible;
		padding: 3rem 0;
		z-index: 1;
	}

	a {
		color: $primary-text;
		text-decoration: none;

		&:hover {
			color: darken($primary-text, 25%);
		}
	}

	@media (min-width: 576px) {
		display: none;
	}
}
