.md-form .prefix {
	top: 1rem !important;
	font-size: 1.25rem !important;
}

.md-form .prefix.active {
	color: red !important;
}

// .custom-control-input:checked ~ .custom-control-label::before {
// 	color: #fff;
// 	border-color: #7b1fa2 !important;
// 	background-color: #7b1fa2 !important;
// }
